body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  height: 100%;
}


.container {
    
   
}
.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
 
    background: url(../img/logo.png);
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10%;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 35px;
    border-color:#d2d2d2;
    border-width: 20px;
    box-shadow:0 1px 0 #cfcfcf;

}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:15px;
 text-align: center;
}

.form-control {
    border-radius: 10px;

}

html {
    height: 100%;
}


footer {
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    color: #666;
    background: #222;
    height: 120px;
    border-top: 1px solid #000;

}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -140px;
    text-align: center;

}

/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 8%;
}



.copy{
    padding-top: 30px;
}


.div-form-suscripcion {
    padding-left: 30%;
}



.suscripcion-email .text {
    float: left;
    width: 60%;
    height: 40px;
    border: none;
    font-size: 15px;
    color: #666;
    background: #F0F0F0;
}


.suscripcion-email .boton {
    width: 15%;
    height: 40px;
    border: 1px;
    color: #FFF;
    position: absolute;
    background: #A4A4A4 url("../img/newsletter.png") no-repeat scroll center center;
}

