body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  height: 100%;
}

.container {
    padding: 25px;
   
}
.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
 
    background: url(../img/logo.png);
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10%;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 35px;
    border-color:#d2d2d2;
    border-width: 20px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:15px;
 text-align: center;
}

.form-control {
    border-radius: 10px;

}
        html {
            height: 100%;
        }


        footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
        }

        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
            text-align: center;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 8%;
        }

        .copy{
            text-align: right;
        }
